* {
    margin: 0;
    padding: 0;
}
body,
html {
    padding: auto;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/986/299/685/furry-anthro-falvie-night-wallpaper-preview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.App {
    padding: 60px 60px;
    user-select: none;
}
.container-boards {
    display: flex;
    flex-wrap: nowrap;
}
.board-footer {
    height: fit-content;
    background-color: rgba(192, 192, 192, 0.8);
    display: flex;
    padding: 20px 16px;
    border-radius: 8px;
    margin-left: 24px;
}
.add-task-input,
.add-card-input {
    height: 22px;
}
.delete-card-btn,
.delete-task-btn,
.add-task-btn,
.add-card-btn {
    background-color: #314084;
    border-radius: 4px;
    margin-left: 8px;
    color: #fff;
    padding: 2px 4px;
    cursor: pointer;
}
.delete-task-btn {
    background-color: #662b47;
    margin-left: 9px;
}
.contaner-cards {
    background-color: rgba(192, 192, 192, 0.9);
    padding: 12px 12px;
    border-radius: 8px;
    min-width: 260px;
    margin: 0 12px;
    height: fit-content !important;
}
.board-body,
.card-header,
.task-body,
.card-footer {
    display: flex;
}
.card-footer {
    margin-top: 20px;
}
.card-header {
    cursor: move;
}
.title-card {
    min-width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #314084;
    margin-right: 6px;
}
.task-body {
    background-color: #767fa2;
    color: #fff;
    padding: 4px 0;
    border-radius: 4px;
    margin: 8px 0;
    cursor: move;
}
.task-title {
    padding-left: 8px;
    min-width: 186px;
}
